$dk_blue : #0f55a1;
$md_blue : #146bcc;
$lg_blue  : #4081ca;

$black : #232527;
$white : #ffffff;

$dk_grey : #d4d4d4;
$lg_grey : #fbf7f7;

$dk_yellow : #fea804;
$md_yellow : #ffb21f;
$lg_yellow : #ffc048;


$green : #4eb16b;
$red : #cf2a2a;
$orange : #ff650e;
$skyblue : #19aef0